*{padding:0;margin:0;box-sizing: border-box;}
ul{list-style: none;}
a{text-decoration: none;font-family: sans-serif;color:white;font-size:1.2em;}
.container{width:100%;margin:auto;}
body{height:1500px;}
.headerbar input{display:none;}
.headerbar label{font-size:40px;display:none;}

:root{--main-color:#0DACF6;--secoud-color:#CF1D60;--threed-color:#7AEDFF;--white-color:#fff;}
/**header STArt----*/
header{background:var(--main-color);max-height:100px;border-bottom: 3px solid var(--secoud-color);}
.headerbar{display: flex; width:100%;}
.headerbar #logo { flex-grow: 1;}
.headerbar #logo img{float:right;border-radius: 50%;width:80px;}
.headerbar nav{flex-grow: 2;}
.headerbar .checking{flex-grow: 1;}
.headerbar .checking img{margin:10px;cursor: pointer;visibility: hidden;}
.headerbar nav ul{margin-top:10px;;display:flex;justify-content: space-around;width:70%;float: right;}
.headerbar nav ul li{margin-top:25px;}
/**header fin----*/
/**section first start*/
.walpper{background: url(../img/pic2.jpg)  no-repeat;background-color:red;
background-size:100% auto;border-bottom:2px solid blue;min-height:400px;
}

/*section fen first*/
<<<<<<< HEAD
/*start champoin artcile--------------------*/

#champoin header{display:flex;justify-content: center;align-items: center;height:100px;background :#ccc;}
#champoin header h1{font-size:3em;}
#champoin .container .main{grid-area:main;text-overflow: ellipsis;}
#champoin .container .main1{grid-area:main1;}
#champoin .container .main2{grid-area:main2;}
#champoin{background:var(--white-color);width:100%;min-height:500px;background:#ccc;}
  #champoin .container{display:grid;grid-template-columns:1fr auto  2fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    grid-template-areas: ". main main1 ."
    ". main main2 .";}
#champoin .arcticle{width:500px;   overflow: hidden;font-family: sans-serif;}
#champoin .arcticle img{float:left;}


/*Fin chamopin article-------------------*/




/*Fin champoin*/


/*start legend paper*/
#Legends{background-color:var(--main-color);width:100%;height:830px;overflow: hidden;}
#Legends header{background:white;text-align: center;padding-top:1.4em;font-family: sans-serif;min-height:100px;
overflow: hidden}
#Legends header h1{font-size:3em;font-family: 'Bangers', cursive;}
#Legends .paperLegend{width:1000px;margin:auto;margin-top: 1%;height:700px;display: flex;
 justify-content: space-around;}
#Legends .paperLegend .portf{position:relative;overflow: hidden;background:red;
  width:15%;height:650px;transform: rotate(10deg);border:2px solid white;
}
#Legends .paperLegend .portf img{transition: transform 1s;}
#Legends .paperLegend .portf button {position: absolute;
  bottom: 10px;z-index: 2;width:100%;height:30px;
  background-color:Transparent;cursor:pointer;color:white;
outline: 3px solid white;font-size: 26px;border: 0;}
#Legends .paperLegend .portf button:hover{background:white;color:black;}
#Legends .paperLegend .portf button:hover + h3{background:white;color:black;border-radius: 5px;}

#Legends .paperLegend .portf h3{position: absolute;
    bottom: 50px;z-index: 3;font-family: 'Anton', sans-serif;
  font-size:26px;color:white;}
img[src^="./img/picslide3.jpg"]{position: absolute;right:-390px;}
img[src^="./img/picslide4.jpg"]{position: absolute;height:120%;right:-160px;top:-90px;}
img[src^="./img/picslide5.jpg"]{position: absolute;right:-120px;height:110%;}
img[src^="./img/picslide6.jpg"]{position: absolute;left:-480px;height:111%;}
img[src^="./img/picslide7.jpg"]{position: absolute;right:-330px;bottom:-10px;height:110%;}
img[src^="./img/picslide3.jpg"]:hover,
img[src^="./img/picslide4.jpg"]:hover,
img[src^="./img/picslide5.jpg"]:hover,
img[src^="./img/picslide6.jpg"]:hover,
img[src^="./img/picslide7.jpg"]:hover{transform:scale(1.2,1.2);}


/*Fin legend paper*/
@media (max-width:767px) {
  /*header -----*/
*{box-sizing: content-box;}
body{height:1000px;}

.headerbar .checking img{visibility: visible;}
.headerbar  input:checked +nav ul  {left:0%;transition:.5s;}
.headerbar #logo { float:right;}


.headerbar{z-index: 6;position: fixed;background:var(--white-color);}
.content{width:100%;}
.headerbar nav{margin-top:70px;padding:0;left:0;width:100%;position:absolute;z-index: 4;}
.headerbar nav ul{margin:0;display:block;width:100%;position:fixed;left:-100%;transition:.3s;}
.headerbar nav ul li{margin:0;padding:30px ;text-align: center;background:var(--white-color);
  border-top:1px solid black;}
.headerbar nav ul li a{color:black;}
.headerbar label{display: block;}
/**header fin----*/
/*sliderfirst*/
.margin{height:70px;}
.walpper{min-height:200px;}
/*Fin slider one*/
/*legend*/
#Legends .paperLegend{flex-wrap: wrap;width:100%;}
#Legends .paperLegend .portf{width:150px;height:200px;transform: rotate(0deg);}
img[src^="./img/picslide3.jpg"]{position: absolute;right:-390px;}
img[src^="./img/picslide4.jpg"]{position: absolute;height:120%;right:0;top:0;}
img[src^="./img/picslide5.jpg"]{position: absolute;right:0px;height:110%;}
img[src^="./img/picslide6.jpg"]{position: absolute;left:-60px;height:111%;}
img[src^="./img/picslide7.jpg"]{position: absolute;right:-30px;bottom:-0px;height:110%;}
/*Fin legnd*/
}
